version: '3.8'

services:
  postgres:
    image: postgis/postgis:15-3.3
    container_name: jewish_postgres
    restart: always
    environment:
      POSTGRES_DB: jewish_on_the_way
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
